.selections-wrapper {
  min-height: 100vh;
}

ol.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  gap: 1rem;

  li {
    width: 150px;
  }
}

.selection {
  padding: 2rem 5rem;

  h2.selection-title {
    color: var(--gray);
    font-size: 2rem;
    align-self: flex-end;
    margin-bottom: 1.5rem;
  }
}
