.home {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: auto;

  .wrapper {
    min-height: 100vh;
  }

  .input-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
  }
}
