ul.filter {
  display: flex;
  gap: 1rem;
  cursor: pointer;

  li {
    display: flex;
    place-items: center;

    svg {
      width: 2rem;
      opacity: 0.5;
      stroke: var(--gray);
      transition: opacity 250ms ease-in-out, color 250ms ease-in-out,
        transform 250ms ease-in-out;

      path {
        stroke-linecap: "round";
        stroke-linejoin: "round";
        stroke-miterlimit: "10";
        stroke-width: "2";
      }
    }
  }

  p {
    color: var(--gray);
    opacity: 0.5;
    white-space: nowrap;
    transition: opacity 250ms ease-in-out, color 250ms ease-in-out;
  }

  li.active {
    p {
      color: var(--white);
      opacity: 1;
    }

    svg {
      stroke: var(--white);
      opacity: 1;

      &.asc {
        transform: rotate(180deg);
      }
    }
  }
}
