@import url(../../assets/util.scss);

.modal-wrapper .selection-modal {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 250px;
  min-height: 300px;
  z-index: 6;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--black);
  padding: 0.5rem;

  .input-wrapper {
    display: flex;
    place-items: center;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid var(--gray);

    svg {
      fill: var(--white);
      cursor: pointer;
    }
  }

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
  }

  button {
    width: 100%;
    margin-top: auto;
    background-color: var(--black);
    border-radius: 4px;
    color: var(--white);
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid var(--gray);
    cursor: pointer;
  }
}
