.searchbar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color: rgba(196, 196, 196, 0.301);
  border-radius: 4px;
  place-items: center;

  input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: var(--gray);
    height: 100%;
    padding: 0.6rem;

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
    }
  }
  .icon-wrapper {
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 7px 10px;
    border-radius: 0 4px 4px 0;
    background-color: var(--white);

    svg {
      max-width: 2rem;
    }
  }
}
