@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.App {
  background: url("./assets/bg.webp");
  // background-size: cover;
  background-repeat: repeat-y;
  background-size: 100%;

  * {
    --white: #fff;
    --gray: #c4c4c4;
    --black: #343434;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    list-style: none;
    color: var(--black);
    box-sizing: border-box;
  }
}
